/* RESET CSS */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    text-align: center;
    background: radial-gradient(circle, #323232, #535252);
}

.paidetodos{
    position: relative;
    height: 96vh;
}

.central{
    color: white;
    font-family: "Bebas Neue", sans-serif;
    width: 603px;
    height: 250px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    text-align: left;
     line-height: 0.9; /* Ajusta o espaçamento vertical */
}

.btns{
    width: 212px;
    height: 50px;
    display: flex;
    gap: 25px;

    position: absolute;
    left: 51%;
    top: 49%;
    transform: translate(5%, -200%);

    animation: subir 2s infinite ease-in-out;
    transition: transform 0.3 ease-in-out; /*adiciona uma transição suave ao ícone. o movimento será suavizado em 0.3 segundos.*/
}

.btns :hover{
    transform: translateY(-5px); /* Move o ícone 10px para cima ao passar o mouse */
}

/* @keyframes subir{
    0%{
        transform: translateY(0);
    }

    50%{
        transform: translateY(-10px);
    }

    100%{
        transform: translateY(0);
    }
} */

#intro{
    color: white;
    font-family: "Bebas Neue", sans-serif;
    width: 220px;
    height: 35px;
    opacity: 0.6;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-160%, -440%);

}

#desc{
    color: white;
    font-family: "Bebas Neue", sans-serif;
    width: 537px;
    height: 72px;
    opacity: 0.6;
    text-align: right;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-20%, 135%);
}

h1{
    font-size: 90px;
    display: flex;
    flex-direction: column;
}

span{
    font-size: 160px;
}


section{
    position: relative;
    top: 100px;
    display: flex;
    justify-content: space-evenly;
    gap: 186px;
    
}

.proj{
    width: 550px;
    height: 300px;
    border: black solid 1px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 7px 10px;
} 

.content{
    color: white;
    width: 550px;
    height: 461px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-family: "Bebas Neue", sans-serif;
}

h4{
    font-size: 40px;
}

#texto{
    font-size: 20px;
    padding: 10px
}

button{
    color: white;
    width: 171px;
    background-color: #5DA0B8;
    height: 38px;
    font-size: 15px;
    padding: 10px;
    border-radius: 15px;
    border: none;
}
.clique :hover{
    transition: 0.5s all;
    background-color: #3cb3df;
    transform: translateY(-5px);
}

footer{
    color: white;
    font-family: "Bebas Neue", sans-serif;
    display: block;
    position: relative;
    top: 400px;
}

@media screen and (max-width: 1280px){
    
    .paidetodos{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        margin: 100px;
        top: 200px;
    }
    
    .central{
        width: 90%;
        max-width: 600px;
    }

    section{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}